body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.container {
    position: relative;
    margin: 3vh 1vh;
    max-height: 97vh;
}

.main {
    border-radius: 2vh;
}

.preview {
    border-radius: 1vh;
    border-style: solid;
    position: absolute;
    top: 1.5vh;
    left: 1.5vh;
    width: auto;
    height: 30%;
}
